<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>黄瓜凉面</string>
		<key>seasoning</key>
		<string>盐 1/4茶匙；糖 2茶匙；醋 1茶匙；香油 1/2茶匙；生抽 1茶匙</string>
		<key>ingredients</key>
		<array>
			<dict/>
			<string>黄瓜</string>
		</array>
		<key>steps</key>
		<array>
			<string>黄瓜切丝后放入碗中</string>
			<string>放入糖后用筷子搅拌均匀，腌制5-10分钟</string>
			<string>黄瓜腌制差不多后，放入生抽，少许醋，一点点盐，香油</string>
			<string>晃匀后，等2-3分钟入味即可食用</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>番茄炒蛋</string>
		<key>seasoning</key>
		<string>盐 1/4茶匙；糖 1茶匙</string>
		<key>ingredients</key>
		<array>
			<string>鸡蛋</string>
			<string>番茄</string>
		</array>
		<key>steps</key>
		<array>
			<string>鸡蛋打散，放小半茶匙的盐</string>
			<string>番茄切好待用</string>
			<string>热锅，放油，看到油冒白烟时倒入鸡蛋，一边倒一边用锅铲打圈搅拌</string>
			<string>将切好的番茄倒入，翻炒一下，小火盖上7分钟</string>
			<string>看到油番茄汁出来后，放糖，开大火收汁后上盘</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肉末茄子</string>
		<key>seasoning</key>
		<string>酱油 1茶匙； 盐 1/2茶匙； 葱少许； 豆瓣酱 2茶匙</string>
		<key>ingredients</key>
		<array>
			<string>猪肉</string>
			<string>茄子</string>
		</array>
		<key>steps</key>
		<array>
			<string>茄子切成5厘米长，3厘米宽的片状，猪肉剁碎，葱剁碎</string>
			<string>锅内放多点油，烧热后放入茄子，炸3-5分钟，将茄子捞出控油</string>
			<string>将锅内剩余的油倒出一些，留少许，烧热后倒入豆瓣酱翻炒半分钟</string>
			<string>倒入碎肉，加入盐和酱油，炒至肉熟，然后倒入茄子一起翻炒2-4分钟，撒上葱花，就可以出锅了</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>番茄蛋花汤</string>
		<key>seasoning</key>
		<string>盐 1/4茶匙；糖 1/2 茶匙； 麻油 1/4茶匙；淀粉 1/2茶匙；葱少许</string>
		<key>ingredients</key>
		<array>
			<string>番茄</string>
			<string>鸡蛋</string>
		</array>
		<key>steps</key>
		<array>
			<string>鸡蛋入碗搅匀，番茄洗净切块备用</string>
			<string>炒锅烧热，倒入少许油，油温热后倒入番茄块翻炒一下</string>
			<string>锅内添加适量清水，煮开后中火继续煮3-5分钟，加入白糖，盐调味，勾入少量淀粉搅匀</string>
			<string>将鸡蛋液泼入锅中用勺推匀，蛋花漂浮起来后熄火，滴入麻油葱末即可出锅</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地三鲜</string>
		<key>seasoning</key>
		<string>盐 1/4茶匙；糖1/4茶匙；淀粉 1/2茶匙；生抽 1/4茶匙</string>
		<key>ingredients</key>
		<array>
			<string>青椒</string>
			<string>茄子</string>
			<string>土豆</string>
		</array>
		<key>steps</key>
		<array>
			<string>土豆，茄子去皮切滚刀状，青椒切滚刀块</string>
			<string>锅中放多些油，七成热时，将三种蔬菜分别过油，土豆和茄子炸两三分中捞出，青椒过油后立刻捞出</string>
			<string>锅中放少量油，放葱花爆香，将三种蔬菜一起倒入锅中，加生抽，糖，盐翻炒均匀，酌量加高汤大火煮一分钟</string>
			<string>淋上淀粉水勾芡即可</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>夏威夷风味烤三文鱼</string>
		<key>seasoning</key>
		<string>盐 1/4茶匙；黑胡椒 1/4茶匙；欧芹叶 1小撮</string>
		<key>ingredients</key>
		<array>
			<string>菠萝</string>
			<string>三文鱼</string>
		</array>
		<key>steps</key>
		<array>
			<string>三文鱼洗净，用厨房纸吸干多余水分</string>
			<string>在两面均匀撒上盐和黑胡椒，腌制15分钟</string>
			<string>菠萝切块，选用若干块榨汁</string>
			<string>烤箱预热200摄氏度</string>
			<string>平底锅烧热，将三文鱼放入用中火煎制两面金黄</string>
			<string>三文鱼连同平底锅放入烤箱烤10-12分钟</string>
			<string>装盘，显摆上菠萝切片，将三文鱼置于其上，撒上欧芹叶，倒入菠萝汁即可</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>油焖大虾</string>
		<key>seasoning</key>
		<string>白糖 1/4茶匙；生抽 1/2茶匙；料酒 1茶匙；盐1/4茶匙</string>
		<key>ingredients</key>
		<array>
			<string>番茄</string>
			<string>明虾</string>
		</array>
		<key>steps</key>
		<array>
			<string>将虾从背部剪开，挑去黑线</string>
			<string>清洗干净后控净水分备用</string>
			<string>锅中倒入多油，烧至7层熟，投入大虾，迅速翻面，变红起酥即捞起</string>
			<string>锅内留少许油，中火，放入去皮的西红柿，炒出红油</string>
			<string>投入虾，撒入白糖，轻压几下虾脑，挤出红汁，大火炒匀，倒入约小半碗温水，大火烧开，小火盖闷</string>
			<string>约1，2分钟后，开盖，投入葱段，加盐调味，大火收汁，约20来秒，见汤汁收紧，油亮，即可出锅</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>白灼明虾</string>
		<key>seasoning</key>
		<string>盐 1茶匙</string>
		<key>ingredients</key>
		<array>
			<string>明虾</string>
		</array>
		<key>steps</key>
		<array>
			<string>明虾洗净，放入锅内</string>
			<string>放水，刚好没过明虾为宜</string>
			<string>加一勺盐</string>
			<string>中火，炖一刻钟即可</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>红烧肉</string>
		<key>seasoning</key>
		<string>冰糖 两块；花椒 少许；小茴香 两颗；老抽 1/2茶匙 生抽 1茶匙</string>
		<key>ingredients</key>
		<array>
			<string>猪肉</string>
		</array>
		<key>steps</key>
		<array>
			<string>五花肉切方块</string>
			<string>热锅热油，放入调味料爆香</string>
			<string>将切好的五花肉煸炒至肉变色，煸炒出香味</string>
			<string>锅内做油放入冰糖，改小火</string>
			<string>炒到糖变成枣红色，倒入刚才煸炒的肉，倒入老抽生抽调好的汁，一碗热水，改小火慢炖</string>
			<string>汤汁变浓稠后加入盐，少量冰糖</string>
			<string>改大火收汁，迅速翻炒使得每一块红烧肉身上裹满浓汁，出锅</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>小炒牛肉</string>
		<key>seasoning</key>
		<string>生抽 1/2茶匙；花椒 少许；生粉 1/2茶匙；料酒 1茶匙</string>
		<key>ingredients</key>
		<array>
			<string>牛肉</string>
		</array>
		<key>steps</key>
		<array>
			<string>牛肉切薄片，用酱油，少许生粉抓匀腌制</string>
			<string>炒锅内热油，放入少许花椒，炸香后捞出，将腌好的牛肉倒入，放一点料酒</string>
			<string>牛肉扒拉回来，加一点生抽，火加大，翻炒后加入蒜末，加入适量盐即可出锅</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>番茄牛肉</string>
		<key>seasoning</key>
		<string>生抽 1/2茶匙；花椒 少许；生粉 1/2茶匙；料酒 1茶匙</string>
		<key>ingredients</key>
		<array>
			<string>番茄</string>
			<string>牛肉</string>
		</array>
		<key>steps</key>
		<array>
			<string>牛肉切片，用生抽料酒腌制</string>
			<string>大火热锅加油，油热后放入蒜片爆香，加入牛肉，用油炸一会儿，翻肉，起锅</string>
			<string>将切好的番茄入锅，加糖加一点盐盖过煮一会儿，最后把炒好的牛肉放入翻炒，调味上盘</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>土豆烧肉</string>
		<key>seasoning</key>
		<string>老抽 1/2茶匙；盐1/4茶匙；糖1/2茶匙；花椒 少许</string>
		<key>ingredients</key>
		<array>
			<string>土豆</string>
			<string>猪肉</string>
		</array>
		<key>steps</key>
		<array>
			<string>猪肉洗净切块，放入少许盐，老抽，料酒，糖腌制20分钟待用</string>
			<string>土豆切块待用</string>
			<string>入土豆块，盐，花椒粉，加少许水继续小火烧到水气渐干转大火收汁即可</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>洋葱肉末盖浇饭</string>
		<key>seasoning</key>
		<string>盐 1/4茶匙；糖 1/4茶匙；豆瓣酱 1茶匙；淀粉 1茶匙</string>
		<key>ingredients</key>
		<array>
			<string>鸡蛋</string>
			<string>猪肉</string>
			<string>青椒</string>
			<string>洋葱</string>
		</array>
		<key>steps</key>
		<array>
			<string>猪肉切碎入盐，淀粉腌制备用，洋葱切末备用</string>
			<string>锅入油烧热后倒入豆瓣炒出红油，转大火加入洋葱，白糖爆炒</string>
			<string>转中小火锅中煎挖个空地，倒入肉末迅速翻炒一下即可</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>水果沙拉</string>
		<key>seasoning</key>
		<string>沙拉酱</string>
		<key>ingredients</key>
		<array>
			<string>菠萝</string>
			<string>香蕉</string>
			<string>苹果</string>
		</array>
		<key>steps</key>
		<array>
			<string>三种水果去皮切丁</string>
			<string>水果丁放入盘子里，抹上沙拉酱即可</string>
		</array>
	</dict>
</array>
</plist>
